body {
    background-color: black;
    margin: 0px 100px;
}

body {
    font-family: Roboto;
   
  }

.container { 
    background-color: #1F2937;
    box-sizing: border-box;
    font-family: Roboto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 20px;
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    padding: 20px;
  }

a {
   text-decoration: none;
   font-size: 15px;
   color: #E5E7EB;
}

.content {
    display: flex;
    padding: 48px;
    gap: 50px;
    
   
}

.header2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 30px;
    flex: 1;
}

.text {
    font-size: 15px;
   color: #E5E7EB;
   margin-bottom: 30px;
}


button {
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 10px;
  }
  
button.signup {
background: royalblue;
border: 3px solid royalblue;
color: white;
}

.image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    flex-shrink: 1;    /* Center vertically */
}


.container1 {
    background-color :#E5E7EB;
    font-family: Roboto;
    box-sizing: border-box;
    padding: 3lvh 8lvh 7lvh 12lvh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

.container1 > .header3 {
    font-size: 36px;
  font-weight: 900;
  color : #1F2937;
  margin-bottom: 30px;
}

.container1 > .image-container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.info {
    max-width: 300px;
    
  }

.text2,.header3 {
    text-align: center;
}

.container1   img {
    width: 100px;
    height: 100px;
    border:  royalblue solid;
    border-radius: 20px; 
    
  }

  .text2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

.image-container2,.text2 {
    flex: 1;
    object-fit: cover;
    padding: 10px;
}

.container2 {
    background-color: #c8d0df;
    padding: 50px;
}

.text2 {
    font-size: 20px;
    font-style: light italic;
    color : #1F2937 ;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

.author {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    font-size: 15px;
    padding-right: 120px;
    font-weight: 900;
}

.container3 {
    background-color: #F9FAF8;
    padding: 70px 120px;
}

.sec_con {
    background-color: rgb(81, 121, 240);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.tx {
    margin-top: 40px;
    margin-bottom: 40px;
}

.tx > .text3 {
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
}

.tx > .small_text {
    color: #ffffff;

}

.container4 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #F9FAF8;
}